#
# This file is a template. Rename this file to '.env' and update your database credential.
#
DATABASE_SCHEMA=schema
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USERNAME=username
DATABASE_PASSWORD=**********

